body	{
	font-family: Arial;
	color: #000000;
	font-size: 12px;
	}

h2 {
margin-top:-3px;
font-family:Century Gothic;
font-size:22px;
font-weight:normal;
color: #808080;
}

h3 {
margin-top:-3px;
font-family:Century Gothic;
font-size:14px;
font-weight:normal;
color: #808080;
}

a.mainlinks {
width:100px;
height:40px;
border:1px solid #F7A804;
background-color:#FFFFFF;
font-family:Arial;
font-size:13px;
padding:5px;
border-bottom:none;
color:#000000;
text-decoration:none;
margin-left:7px;
font-variant:small-caps;
}

a.mainlinks:hover {
background-color:#FFFEBF;
}

a.mainbutton {
width:100px;
height:40px;
border:1px solid #F7A804;
background-color:#FFFFFF;
font-family:Arial;
font-size:13px;
padding:5px;
color:#000000;
text-decoration:none;
margin-left:7px;
font-variant:small-caps;
}

a.mainbutton:hover {
background-color:#FFFEBF;
}

a.project_link {
color:#000000;				
}

td	{
	font-family: Arial;
	color: #000000;
	font-size: 12px;
	}
	
td.main	{
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	}
	
td.main2	{
	border-right: 1px solid #C0C0C0;
	background-image: url('../images/bg_gradient.jpg');
	background-repeat: repeat-x;
	}
	
td.heading	{
	font-weight:bold;
	background-color:#F0F0F0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	}

td.panelheading {
font-variant: small-caps;
font-size:15px;
color:#C0C0C0;	
}

.subinfo {
	color:#F7A804;
}

#dhtmltooltip{
position: absolute;
width: 100px;
border: 1px solid #F7A804;
padding:5px;
background-image: url('../images/bg_gradient.jpg');
background-repeat: repeat-x;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}


